from diagrams import Diagram, Edge, Cluster
from diagrams.generic.os import Windows

with Diagram("PKI Topology", show = False, filename = "topology"):
    with Cluster("Network Zone - Tier 0"):
{% if servers.root_ca is defined %}
        root_ca = Windows("{{ servers.root_ca.name }}")
{% else %}
        root_ca = Windows("Root CA")
{% endif %}
        with Cluster("Issuing CAs"):
{% for issuing_ca in servers.issuing_cas %}
            zz_{{ issuing_ca.cn.lower().replace(' ', '').replace('-', '') }} = Windows("{{ issuing_ca.name }}")
{% endfor %}
{% for issuing_ca in servers.issuing_cas %}
            zz_{{ issuing_ca.cn.lower().replace(' ', '').replace('-', '') }} << \
                Edge(color = "black",
                    style = "dashed",
                    label = "Signing CA certificates for") << \
                root_ca
{% endfor %}
        with Cluster("Domain controllers"):
            domain_controllers = [
{% for dc in servers.domain_controllers %}
                Windows("{{ dc.name }}"),
{% endfor %}
            ]
{% for issuing_ca in servers.issuing_cas %}
            domain_controllers << \
                Edge(color = "blue",
                    style = "solid",
                    label = "Fetches GPOs from") << \
                zz_{{ issuing_ca.cn.lower().replace(' ', '').replace('-', '') }}
{% endfor %}
    with Cluster("Network Zone - Tier 1"):
        with Cluster("Repositories"):
            repositories = [
    {% for repository in servers.repositories %}
                Windows("{{ repository.name }}"),
    {% endfor %}
            ]
            repositories << \
                Edge(color = "green",
                    style = "solid",
                    label = "Publishes CRLs to") << \
                zz_{{ servers.issuing_cas[0].cn.lower().replace(' ', '').replace('-', '') }}