Appendix C - Maintenance Sheet
==============================

.. list-table:: Maintenance items
   :widths: 1 3 3 3
   :header-rows: 1

   * - 
     - Review ACL of root CA
     - Issue new root CA CRL
     - Renew issuing CA
   * - {{ year + 1 }}
     - X
     - X
     - 
   * - {{ year + 2 }}
     - X
     - X
     -  
   * - {{ year + 3 }}
     - X
     - X
     -
   * - {{ year + 4 }}
     - X
     - X
     - X
   * - {{ year + 5 }}
     - X
     - X
     -
   * - {{ year + 6 }}
     - X
     - X
     -
   * - {{ year + 7 }}
     - X
     - X
     -
   * - {{ year + 8 }}
     - X
     - X
     - X
   * - {{ year + 9 }}
     - X
     - X
     - 
   * - {{ year + 10 }}
     - X
     - X
     -
   * - {{ year + 11 }}
     - X
     - X
     -
   * - {{ year + 12 }}
     - X
     - X
     - X
   * - {{ year + 13 }}
     - X
     - X
     -
   * - {{ year + 14 }}
     - X
     - X
     -
   * - {{ year + 15 }}
     - X
     - X
     -
   * - {{ year + 16 }}
     - X
     - X
     - X
   * - {{ year + 17 }}
     - X
     - X
     -
   * - {{ year + 18 }}
     - X
     - X
     - 
   * - {{ year + 19 }}
     - X
     - X
     -  
   * - {{ year + 20 }}
     - X
     - X
     - X
   * - {{ year + 21 }}
     - X
     - X
     -
   * - {{ year + 22 }}
     - X
     - X
     -
   * - {{ year + 23 }}
     - X
     - X
     -
   * - {{ year + 24 }}
     - X
     - X
     -