Operations Manual
=================

Inspect the status of the PKI
-----------------------------

To determine the status of the PKI, you can use *Enterprise PKI Viewer*.

#. Log in to ``{{ servers.issuing_ca.name }}`` using RDP.

#. Click on the start button, type ``pkiview.msc`` and press **Enter**.

#. Expand the tree on the left and click on your issuing CA.

#. Ensure that all entries are marked with *OK* in the *Status* column.

.. figure:: ../graphics/pkiview.png

      An example of what Enterprise PKI Viewer looks like for a fully-functional AD CS installation.

Back up the root CA
-------------------

Create a backup to disk using ``CertUtil``. The backup contains all issued certificates, the CA log, and the private key of the CA as a P12-file.

#. Turn on ``{{ servers.root_ca.name }}`` and log in using RDP.

#. Run the backup command and type in the password used to protect the private key::

    CertUtil -backup C:\Backup

#. Backup keys in the registry::

    reg export HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\CertSvc\Configuration C:\Backup\backup.reg

#. Transfer the backup directory ``C:\Backup`` to a secure location.

#. Turn off ``{{ servers.root_ca.name }}``.

Restore a backup of the root CA
-------------------------------

#. Turn on ``{{ servers.root_ca.name }}`` and log in using RDP.

#. Reset the server using SysPrep::

    %WINDIR%\system32\sysprep\sysprep.exe /generalize /reboot /oobe

When configuring Windows, configure the name of the server to be ``{{ servers.root_ca.name }}`` as specified in the backup file.

#. Transfer the latest backup directory ``C:\Backup`` to the root CA server.

#. Install the AD CS Windows feature::

    Install-WindowsFeature Adcs-Cert-Authority -IncludeManagementTools

#. Restore the CA certificate and private key::

    $BackupPassword = Read-Host -AsSecureString
    Install-AdcsCertificationAuthority -CAType StandaloneRootCa -CertFile 'C:\Backup\R1.p12' -CertFilePassword $BackupPassword -DatabaseDirectory $(Join-Path $env:SystemRoot "System32\CertLog") -Force

#. Restore the CA database using CertUtil::

    Remove-Item C:\Windows\System32\CertLog\* -Force
    CertUtil -restoreDB C:\Backup

#. Import the registry keys::

    reg import C:\Backup\backup.reg

#. Restart AD CS::

    net stop certsvc
    net start certsvc

#. Turn off ``{{ servers.root_ca.name }}``.

Issue a new root CA CRL
-----------------------

#. Turn on ``{{ servers.root_ca.name }}`` and log in using RDP.

#. Issue a CRL from the root CA::

    CertUtil -crl

#. Transfer the file ``C:\R1.crt`` to ``C:\inetpub\pki`` on {{ servers.repository.name }}.

#. Turn off ``{{ servers.root_ca.name }}``.

Renew an issuing CA
-------------------

TODO

Revoke an issuing CA
--------------------

TODO

Revoke an enduser certificate
-----------------------------

TODO

Reenroll all certificate holders
--------------------------------

TODO

Manually enroll for a user certificate
--------------------------------------

#. Log in with the user with whom you want to enroll.

#. Click on the Start button, type ``mmc.exe`` and press **Enter**.

#. Press **Ctrl + M** and double-click on the **Certificates** snap-in.

#. If a dialog windows is shown, select **My user account** and click on **Finish**.

#. Click on **OK** to add the snap-in.

#. Right-click on **Certificates - Current User** in the panel on the right, and click on **All tasks → Automatically Enroll and Retrieve Certificates**. The *Certificate Enrollment* wizard opens.

#. Click on **Next** to start the wizard.

#. TODO

Manually enroll for a computer certificate
------------------------------------------

TODO