Operations Manual
=================

Inspect the status of the PKI
-----------------------------

To determine the status of the PKI, you can use *Enterprise PKI Viewer*.

#. Log in to ``{{ servers.issuing_ca.name }}`` using RDP.

#. Click on the start button, type ``pkiview.msc`` and press **Enter**.

#. Expand the tree on the left and click on your issuing CA.

#. Ensure that all entries are marked with *OK* in the *Status* column.

.. figure:: ../graphics/pkiview.png

      An example of what Enterprise PKI Viewer looks like for a fully-functional AD CS installation.

Back up the root CA
-------------------

Create a backup to disk using ``CertUtil``. The backup contains all issued certificates, the CA log, and the private key of the CA as a P12-file.

#. Turn on ``{{ servers.root_ca.name }}`` and log in using RDP.

#. Run the backup command and type in the password used to protect the private key::

    CertUtil -backup C:\Backup

#. Backup keys in the registry::

    reg export HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\CertSvc\Configuration C:\Backup\backup.reg

#. Transfer the backup directory ``C:\Backup`` to a secure location.

#. Turn off ``{{ servers.root_ca.name }}``.

Restore a backup of the root CA
-------------------------------

#. Turn on ``{{ servers.root_ca.name }}`` and log in using RDP.

#. Reset the server using SysPrep::

    %WINDIR%\system32\sysprep\sysprep.exe /generalize /reboot /oobe

When configuring Windows, configure the name of the server to be ``{{ servers.root_ca.name }}`` as specified in the backup file.

#. Transfer the latest backup directory ``C:\Backup`` to the root CA server.

#. Install the AD CS Windows feature::

    Install-WindowsFeature Adcs-Cert-Authority -IncludeManagementTools

#. Restore the CA certificate and private key::

    $BackupPassword = Read-Host -AsSecureString
    Install-AdcsCertificationAuthority -CAType StandaloneRootCa -CertFile 'C:\Backup\R1.p12' -CertFilePassword $BackupPassword -DatabaseDirectory $(Join-Path $env:SystemRoot "System32\CertLog") -Force

#. Restore the CA database using CertUtil::

    Remove-Item C:\Windows\System32\CertLog\* -Force
    CertUtil -restoreDB C:\Backup

#. Import the registry keys::

    reg import C:\Backup\backup.reg

#. Restart AD CS::

    net stop certsvc
    net start certsvc

#. Turn off ``{{ servers.root_ca.name }}``.

.. _issue root ca crl:

Issue a new root CA CRL
-----------------------

#. Turn on ``{{ servers.root_ca.name }}`` and log in using RDP.

#. Issue a CRL from the root CA::

    CertUtil -crl

{% for server in servers.repositories %}
#. Transfer the file ``C:\R1.crt`` to ``C:\inetpub\pki`` on {{ server.name }}.
{% endfor %}

#. Turn off ``{{ servers.root_ca.name }}``.

Renew an issuing CA
-------------------

Create a CSR
~~~~~~~~~~~~

#. Log in to ``{{ servers.issuing_ca.name }}`` using RDP.

#. Click on the Start button, type ``apps: certsrv`` and press **Enter**.

#. Right-click on ``ICA1`` in the tree on the left and click on **All Tasks → Renew CA Certificate**.

#. Windows will ask if you want to stop AD CS. Click **Yes** to stop AD CS and continue with the renewal.

#. You will now have the option to generate a new keypair. Pick **Yes** and click on **OK**.

#. Click on **Cancel** to save the CSR to disk and start AD CS again.

#. Transfer the file ``C:\ICA1.csr`` to ``{{ servers.root_ca.name }}``.

Sign the CA certificate
~~~~~~~~~~~~~~~~~~~~~~~

#. Log in to ``{{ servers.root_ca.name }}`` using RDP.

#. Submit the CSR for the issuing CA and save the request ID::

    $request = CertReq -submit -config - C:\ICA1.csr | Out-String | Select-String 'RequestId: (\d+)'
    $requestId = $request.Matches[0].Groups[1].Value.Trim()

#. Accept the request and retrieve a copy of the new issuing CA certificate::

    CertUtil -resubmit $requestId
    CertReq -retrieve -config - $requestId C:\ICA1.crt

#. Transfer the file ``C:\ICA1.crt`` to ``{{ servers.issuing_ca.name }}``.

Install the CA certificate
~~~~~~~~~~~~~~~~~~~~~~~~~~

#. Log in to ``{{ servers.issuing_ca.name }}`` using RDP.

#. Install the CA certificate::

    CertUtil -installcert "C:\ICA1.crt"

#. Restart AD CS::

    net stop certsvc
    net start certsvc

#. Create a CRL using the new keypair and publish it to the repository::

    CertUtil -crl
    Start-ScheduledTask -TaskName "CopyCRL"

Revoke an issuing CA
--------------------

You should only revoke an issuing CA certificate if you suspect that the private key may have been compromised, as revoking a CA will cause all certificates issued from it to be invalidated.

#. If you are revoking the issuing CA currently being in use, you should :ref:`renew the issuing CA certificate <renew issuing ca>` first.

#. Log in to ``{{ servers.root_ca.name }}`` using RDP.

#. List the certificates issued by the root CA using CertUtil. Make a note of the serial number for the certificate you want to revoke::

    CertUtil -out "Issued Common Name","Certificate Expiration date","Serial Number" -view Log csv

#. Revoke the certificate, replace ``serial number`` with the serial number of the certificate as reported by CertUtil.

    CertUtil -revoke "serial number"

#. Follow :ref:`the instructions to issue a new CRL from the root CA <issue root ca crl>`.

Revoke the certificate for a domain computer
--------------------------------------------

#. Log in to ``{{ servers.issuing_ca.name }}`` using RDP.

#. Make a note of the serial number of the certificate you want to revoke.

If you have a copy of the certificate saved as ``C:\Certificate.crt`` you can get the serial number like this::

    CertUtil -dump 'C:\Certificate.crt' | Select-String 'Serial Number'

If you do not have a copy of the certificate, you can list all certificates issued to a particular computer in the domain using CertUtil. Replace ``computerName`` with the name of the computer::

    CertUtil -out "Certificate Expiration date","Serial Number" -restrict "RequesterName = {{ customer.domain.split('.')[0].upper() }}\computerName$" -view Log csv

#. Revoke the certificate using CertUtil. Replace ``serial number`` with the serial number of the certificate::

    CertUtil -revoke "serial number"

#. Optionally create a new CRL and push it out to the repository::

    CertUtil -crl
    Start-ScheduledTask -TaskName "CopyCRL"

Revoke the certificate for a domain user
----------------------------------------

#. Log in to ``{{ servers.issuing_ca.name }}`` using RDP.

#. Make a note of the serial number of the certificate you want to revoke.

If you have a copy of the certificate saved as ``C:\Certificate.crt`` you can get the serial number like this::

    CertUtil -dump 'C:\Certificate.crt' | Select-String 'Serial Number'

If you do not have a copy of the certificate, you can list all certificates issued to a particular user in the domain using CertUtil. Replace ``userName`` with the name of the user::

    CertUtil -out "Certificate Expiration date","Serial Number" -restrict "RequesterName = {{ customer.domain.split('.')[0].upper() }}\userName" -view Log csv

#. Revoke the certificate using CertUtil. Replace ``serial number`` with the serial number of the certificate::

    CertUtil -revoke "serial number"

#. Optionally create a new CRL and push it out to the repository::

    CertUtil -crl
    Start-ScheduledTask -TaskName "CopyCRL"

Reenroll all certificate holders
--------------------------------

Reenrollment of a certificate occurrs when the certificate is about to expire, or when the schema version of the certificate template used to issue the certificate has been updated.

#. Log in to ``{{ servers.issuing_ca.name }}`` using RDP.

#. Click on the Start button, type ``mmc.exe`` and press **Enter**.

#. Press **Ctrl + M**, double-click on **Certificate Templates** in the panel on the left and click on **OK** to add the *Certificate Templates* snap-in.

#. Double-click on **Certificate Templates** in the panel on the left. This will list all certificate templates in AD.

#. Bump the major version number of the certificate by right-clicking on the certificate template you want clients to reenroll for, and click on **Reenroll All Certificate Holders**.

    .. figure:: ../graphics/reenroll_certificate_holders.png

        Reenrollment of all certificate holders for a certificate template called *Atea User*.

To trigger reenrollment of a computer certificate, one of the following actions must be taken:

    - The computer must be restarted, or
    - An administrator must run ``CertUtil -pulse`` on the computer

To trigger reenrollement of a user certificate, one of the following actions must be taken:

    - The user must log in, or
    - The user must run ``CertUtil -user -pulse`` on their computer

Manually enroll for a user certificate
--------------------------------------

#. Log in with the user with whom you want to enroll.

#. Click on the Start button, type ``mmc.exe`` and press **Enter**.

#. Press **Ctrl + M** and double-click on the **Certificates** snap-in.

#. If a dialog windows is shown, select **My user account** and click on **Finish**.

#. Click on **OK** to add the snap-in.

#. Right-click on **Certificates - Current User → Personal → Certificates** in the panel on the left, and click on **All Tasks → Request New Certificate...**. The *Certificate Enrollment* wizard opens.

#. Click on **Next** to start the wizard.

#. Click on **Next** to choose the certificate enrollment policy configured by the administrator.

#. Tick the checkboxes for the certificate templates you want to enroll for and click on **Enroll**.

    .. note:: Only user certificates you are allowed to enroll for are shown in the list.

    .. figure:: ../graphics/enroll_user_certificate.png
        :width: 50%
        :align: center

        Enrollment of a user certificate for the *Atea User* certificate template.

#. Wait until the certificate has been issued och click on **Finish** to close the wizard.

    .. figure:: ../graphics/enroll_user_certificate_ok.png
        :width: 50%
        :align: center

        What it looks like after a successful enrollment.

Manually enroll for a computer certificate
------------------------------------------

#. Log in as an administrator on the computer where you want to enroll.

#. Click on the Start button, type ``mmc.exe`` and press **Enter**.

#. Press **Ctrl + M** and double-click on the **Certificates** snap-in.

#. Pick **Computer account** and click on **Next**.

#. Click on **Finish** to manage certificates on the local computer.

#. Click on **OK** to add the snap-in.

#. Right-click on **Certificates (Local Computer) → Personal → Certificates** in the panel on the left, and click on **All Tasks → Request New Certificate...**. The *Certificate Enrollment* wizard opens.

#. Click on **Next** to start the wizard.

#. Click on **Next** to choose the certificate enrollment policy configured by the administrator.

#. Tick the checkboxes for the certificate templates you want to enroll for and click on **Enroll**.

    .. note:: Only computer certificates you are allowed to enroll for are shown in the list.

#. Wait until the certificate has been issued och click on **Finish** to close the wizard.
