About This Document
===================

This document describes the certificates issued by {{ customer.simple_name }}'s public key infrastructure.

.. figure:: ../diagrams/ca-hierarchy.png

        Overview of the certificate authorities and certificate templates in {{ customer.simple_name }}'s public key infrastructure.
