Microsoft PKI
=============

.. toctree::
   :maxdepth: 3
   :caption: Contents:

   chapters/introduction
   chapters/system-overview
   chapters/prerequisites
   chapters/installation
{% if servers.issuing_cas | selectattr('location.existing_backup', 'defined') | length > 0 %}
   chapters/switchover
{% endif %}
   chapters/operations
   chapters/network-configuration
   chapters/inventory
   chapters/maintenance-sheet
