Certificate authorities
=======================

This chapter describes the certificate authorities in the system.

{% set configuration = public_key_services_configuration.stdout | from_yaml %}

{% for ca in configuration.certificate_authorities %}

{#
In case we need the issuer for some reason, we can get it like this:
{% set issuer_ca = configuration.certificate_authorities | selectattr('cacertificatedn', 'equalto', ca.issuer_dn) | list | first %}
#}

{{ ca.name }}
{{ '-' * ca.name | length }}

{% set description = extras.naming_and_profile_document.certificate_authorities | selectattr('name', 'equalto', ca.name) | map(attribute = 'description') | list | first %}
{% if description is defined %}
{{ description }}
{% endif %}

.. list-table:: CA information
   :widths: 2 3
   :header-rows: 0

   * - Display name of the CA
     - {{ ca.name }}
   * - Subject DN of the CA
     - {{ ca.cacertificatedn.replace(',', ', ') }}
   * - Subject DN of the issuer
     - {{ ca.issuer_dn.replace(',', ', ') }}
{% if ca.dnshostname is defined %}
   * - Name of the machine where the CA is running
     - {{ ca.dnshostname }}
{% endif %}
{% if ca.csp is defined %}
   * - Key storage provider
     - {{ ca.csp.provider }}
{% endif %}
   * - Valid from
     - {{ ca.validity.from }}
   * - Valid to
     - {{ ca.validity.to }}
{% if ca.certificatetemplates is defined %}
   * - Certificate templates used by the CA
     - {{ ca.certificatetemplates | join(', ') }}
{% endif %}
   * - Key specification
     - {{ ca.key_specification }}
{% if ca.csp is defined %}
   * - Signature algorithm
     - {{ ca.csp.signature_algorithm }}
{% endif %}
   * - Subject Key Identifier
     - {{ ca.subject_key_identifier }}
{% if ca.ca_issuers is defined %}
   * - Certificate Authority Issuers
     - {{ ca.ca_issuers | join(', ') }}
{% endif %}

{% if ca.crl_settings is defined %}
.. list-table:: CRL information
    :widths: 2 3
    :header-rows: 0

    * - CRL Issuance Interval
      - Every {{ ca.crl_settings.crl_period.value ~ ' ' ~ ca.crl_settings.crl_period.unit }}
    * - CRL Distribution Points
      - {{ ca.crl_settings.crl_distribution_points | join(', ') }}
{% endif %}

{% endfor %}
