Leaf certificates
=================

This chapter describes the leaf certificates issued to subscribers.

{% set templates = parsed_templates.stdout | from_yaml %}

{% for template in templates %}

{{ template.displayname }}
{{ '-' * template.displayname | length }}

{% set description = extras.naming_and_profile_document.templates | selectattr('name', 'equalto', template.displayname) | map(attribute = 'description') | list | first %}
{% if description is defined %}
{{ description }}
{% endif %}

Certificate template
~~~~~~~~~~~~~~~~~~~~

.. list-table:: General information
   :widths: 2 3
   :header-rows: 0

   * - Display name of the certificate template in AD
     - {{ template.displayname }}
   * - Domain
     - {{ template.distinguishedname.dc | join('.') }}
   * - Certificate template OID
     - |
{% for oid_part in template.mspki_cert_template_oid | split('.') %}
{% if loop.index0 == 0 %}
       | {{ oid_part }}
{% else %}
       | {{ loop.index0 * '--' ~ '> .' ~ oid_part }}
{% endif %}
{% endfor %}

.. list-table:: Flags set
   :widths: 1 1
   :header-rows: 0

   * - Flag
     - Description
{% if 'CT_FLAG_MACHINE_TYPE' in template.flags %}
   * - CT_FLAG_MACHINE_TYPE
     - This is a certificate issued to a machine.
{% endif %}
{% if 'CT_FLAG_IS_CA' in template.flags %}
   * - CT_FLAG_IS_CA
     - This is a certificate issued to a certificate authority.
{% endif %}
{% if 'CT_FLAG_ADD_TEMPLATE_NAME' in template.flags %}
   * - CT_FLAG_ADD_TEMPLATE_NAME
     - This certificate contains the template name certificate extension.
{% endif %}
{% if 'CT_FLAG_IS_CROSS_CA' in template.flags %}
   * - CT_FLAG_IS_CROSS_CA
     - This certificate is used for cross-certification.
{% endif %}
{% if 'CT_FLAG_DONOTPERSISTINDB' in template.flags %}
   * - CT_FLAG_DONOTPERSISTINDB
     - The certificate is not persisted in the certificate authority's database.
{% endif %}
{% if 'CT_FLAG_ADD_EMAIL' in template.flags %}
   * - CT_FLAG_ADD_EMAIL
     - The certificate contains the email address of the subject recorded in AD.
{% endif %}
{% if 'CT_FLAG_PUBLISH_TO_DS' in template.flags %}
   * - CT_FLAG_PUBLISH_TO_DS
     - The certificate is published to AD.
{% endif %}
{% if 'CT_FLAG_EXPORTABLE_KEY' in template.flags %}
   * - CT_FLAG_EXPORTABLE_KEY
     - The private key of this certificate may be exported.
{% endif %}

Certificate structure
~~~~~~~~~~~~~~~~~~~~~

.. list-table:: X.509 certificate structure
   :widths: 4 4
   :header-rows: 1

   * - Field
     - Value
   * - Version
     - 3 (0x2)
   * - Serial number
     - According to issuer policy.
   * - Signature Algorithm
     - According to issuer policy.
   * - Issuers
     - TODO
   * - Validity
     - {{ template.pkiexpirationperiod.value ~ ' ' ~ template.pkiexpirationperiod.unit }}
   * - Subject DN
     - TODO
   * - Subject Public Key Info
     - {{ template.mspki_ra_application_policies.mspki_asymmetric_algorithm }}
   * - Certificate Extensions
     -
{% if 'CT_FLAG_IS_CA' in template.flags %}
   * - --> Basic Contraints (2.5.29.19)
     - CA:TRUE
{% elif 'CT_FLAG_INCLUDE_BASIC_CONSTRAINTS_FOR_EE_CERTS' in template.mspki_enrollment_flag %}
   * - --> Basic Contraints (2.5.29.19)
     - CA:FALSE
{% endif %}
   * - --> Key Usage (2.5.29.15)
     - {{ template.pkikeyusage | join(', ') }}
   * - --> Extended Key Usage (2.5.29.37)
     - {{ template.pkiextendedkeyusage | join(', ') }}
   * - --> Authority Key Identifier
     - Generated from the issuer's public key
   * - --> Subject Key Identifier (2.5.29.14)
     - Generated from the subject's public key
   * - --> Subject Alternative Name (2.5.29.17)
     - TODO
{% endfor %}
