Operations Manual
=================

- Inspect the status of the PKI
- Back up the root CA
- Restore a backup of the root CA
- Issue a new root CA CRL
- Renew an issuing CA
- Manually publish CRLs
- Revoke an issuing CA
- Revoke an enduser certificate
- Reenroll all certificate holders
- Manually enroll for a certificate