Appendix B - Inventory
======================

{% if servers.root_ca is defined %}
.. list-table:: Standalone root CA servers
   :widths: 1 1 1 1 2
   :header-rows: 1

   * - Name
     - Network
     - Operating system
     - System requirements
     - Purpose
   * - {{ servers.root_ca.name }}
     - | IP: {{ servers.root_ca.ip }}
       | VLAN: {{ servers.root_ca.vlan }}
{% if servers.root_ca.netmask is defined %}
       | Netmask: {{ servers.root_ca.netmask }}
{% endif %}
{% if servers.root_ca.gateway is defined %}
       | Gateway: {{ servers.root_ca.gateway }}
{% endif %}
{% if servers.dns_servers is defined %}
       | DNS servers: {{ servers.dns_servers | join(', ') }}
{% endif %}
     - {{ servers.root_ca.os }}
     - | RAM: 2 GB
       | Disk: 32 GB
       | vCPU: 2
     - Trust anchor for the ``{{ customer.domain }}`` domain.
{% endif %}

.. list-table:: Enterprise issuing CA servers
   :widths: 1 1 1 1 2
   :header-rows: 1

   * - Name
     - Network
     - Operating system
     - System requirements
     - Purpose
{% for issuing_ca in servers.issuing_cas %}
   * - {{ issuing_ca.name }}
     - | IP: {{ issuing_ca.ip }}
       | VLAN: {{ issuing_ca.vlan }}
{% if issuing_ca.netmask is defined %}
       | Netmask: {{ issuing_ca.netmask }}
{% endif %}
{% if issuing_ca.gateway is defined %}
       | Gateway: {{ issuing_ca.gateway }}
{% endif %}
{% if servers.dns_servers is defined %}
       | DNS servers: {{ servers.dns_servers | join(', ') }}
{% endif %}
     - {{ issuing_ca.os }}
     - | RAM: 8 GB
       | Disk: 32 GB (and a >128 GB network drive)
       | vCPU: 2
     - Issues certificates for users and computers in the ``{{ customer.domain }}`` domain.
{% endfor %}

.. list-table:: Repositories
   :widths: 1 1 1 1 2
   :header-rows: 1

   * - Name
     - Network
     - Operating system
     - System requirements
     - Purpose
{% for server in servers.repositories %}
   * - {{ server.name }}
     - | IP: {{ server.ip }}
       | VLAN: {{ server.vlan }}
{% if servers.netmask is defined %}
       | Netmask: {{ server.netmask }}
{% endif %}
{% if server.gateway is defined %}
       | Gateway: {{ server.gateway }}
{% endif %}
{% if server.dns_servers is defined %}
       | DNS servers: {{ server.dns_servers | join(', ') }}
{% endif %}
     - {{ server.os }}
     - | RAM: 8 GB
       | Disk: 32 GB
       | vCPU: 2
     - Distributes CA certificates and CRLs over HTTP.
{% endfor %}

{% if servers.jumphost is defined %}
.. list-table:: Miscellaneous
   :widths: 1 1 1 1 2
   :header-rows: 1

   * - Name
     - Network
     - Operating system
     - System requirements
     - Purpose
   * - {{ servers.jumphost.name }}
     - {{ servers.jumphost.vlan }}
     - {{ servers.jumphost.os }}
     - N/A
     - Jumphost
{% endif %}