Appendix A - Network Configuration
==================================

Firewall configuration
----------------------

The firewall should only allow access to the ports as specified in the tables below.

{% for issuing_ca in servers.issuing_cas %}
.. list-table:: Firewall rules for {{ issuing_ca.name }}
   :widths: 1 1 1 1
   :header-rows: 1

   * - Src
     - Dst
     - Dst proto/port
     - Description
   * - {{ issuing_ca.name }}
     - Domain controllers
     - tcp/135
     - RPC Endpoint Mapper
   * - {{ issuing_ca.name }}
     - Domain controllers
     - tcp/1024-65535
     - RPC
   * - {{ issuing_ca.name }}
     - Domain controllers
     - tcp/389 and udp/389
     - LDAP
   * - {{ issuing_ca.name }}
     - Domain controllers
     - tcp/636
     - LDAP over TLS
   * - | {{ issuing_ca.name }}
{% for server in servers.repositories %}
       | {{ server.name }}
{% endfor %}
     - DNS servers
     - tcp/53 and udp/53
     - DNS
   * - {{ issuing_ca.name }}
     - Domain controllers
     - 88/tcp
     - Kerberos
   * - {{ issuing_ca.name }}
     - DNS server
     - 88/udp
     - Kerberos
   * - All computers connected to the domain
     - {{ issuing_ca.name }}
     - tcp/135
     - RPC Endpoint Mapper
   * - All computers connected to the domain
     - {{ issuing_ca.name }}
     - tcp/1024-65535
     - CertSrv requests over DCOM
{% if issuing_ca.web_enrollment %}
   * - All computers connected to the domain
     - {{ issuing_ca.name }}
     - http/443
     - Web enrollment
{% endif %}
{% endfor %}

{% if servers.jumphost is defined %}
.. list-table:: Firewall rules for jumphost
   :widths 1 1 1 1
   :header-rows: 1

   * - Src
     - Dst
     - Dst proto/port
     - Description
   * - Jumphost
     - | Domain controllers
{% if servers.root_ca is defined %}
       | {{ servers.root_ca.name }}
{% endif %}
{% for issuing_ca in servers.issuing_cas %}
       | {{ issuing_ca.name }}
{% endfor %}
{% for server in servers.repositories %}
       | {{ server.name }}
{% endfor %}
     - tcp/3389
     - Administration of PKI machines via RDP.
   * - Administrator workstation
     - Jumphost
     - tcp/3389
     - Administrator access to jumphost via RDP.
{% endif %}

.. list-table:: Firewall rules for CRL distribution
   :widths: 1 1 1 1
   :header-rows: 1

   * - Src
     - Dst
     - Dst proto/port
     - Description
   * - Internet
     - |
{% for server in servers.repositories %}
       | {{ server.name }}
{% endfor %}
     - http/80
     - Certificate validation
{% for issuing_ca in servers.issuing_cas %}
   * - {{ issuing_ca.name }}
     - |
{% for repository in servers.repositories %}
       | {{ repository.name }}
{% endfor %}
     - tcp/445
     - Automated certificate distribution from {{ issuing_ca.name }} using the SMB protocol.
{% endfor %}

{% for issuing_ca in servers.issuing_cas %}
{% if issuing_ca.dcom_port is defined %}
.. note:: After a certificate request has been successfully processed by ``{{ issuing_ca.cn }}``, all subsequent certificate requests can be sent to port {{ issuing_ca.dcom_port }}. This means that the firewall may be locked down to only allow incoming connections to that port.
{% endif %}
{% endfor %}

DNS configuration
-----------------

The records specified in the table below should be added manually to the DNS server.

.. list-table:: DNS records
   :widths: 2 2 1 2
   :header-rows: 1

   * - Record name
     - Record value(s)
     - Record type
     - Load balacing policy
{% if servers.root_ca is defined %}
   * - {{ servers.root_ca.name ~ '.' ~ customer.domain }}
     - {{ servers.root_ca.ip }}
     - A
     - N/A
{% endif %}
{% for issuing_ca in servers.issuing_cas %}
   * - {{ issuing_ca.name ~ '.' ~ customer.domain }}
     - {{ issuing_ca.ip }}
     - A
     - N/A
{% endfor %}
{% for server in servers.repositories %}
   * - {{ server.name ~ '.' ~ customer.domain }}
     - {{ server.ip }}
     - A
     - N/A
{% endfor %}
   * - {{ 'pki' ~ '.' ~ customer.domain }}
     - |
{% for server in servers.repositories %}
       | {{ server.ip }}
{% endfor %}
     - A
     - Round-robin
