Prerequisites
=============

#. Configure the firewalls and DNS servers according to *Appendix A*.

#. Ensure that the domain ``pki.{{ customer.domain }}`` can be resolved from the internet.

{% if autoenrollment.gpo is defined %}
#. Create a GPO called **{{ autoenrollment.gpo }}**.
{% endif %}

#. Create machines according to *Appendix B*. Make sure the machines are in the *Cert Publishers* group.

{% for issuing_ca in servers.issuing_cas %}
#. Join the server ``{{ issuing_ca.name }}`` to the domain ``{{ customer.domain }}``.

#. Ensure that there is a network drive mapped to ``{{ issuing_ca.name }}`` with at least 128 GB of free storage available for storing the CA logs and certificate database.
{% endfor %}

{% if servers.root_ca is defined or (servers.repositories | selectattr('connected_to_ad') | list | length) > 0 %}
#. Create a local administrator account called ``{{ accounts.local.user }}`` on the following servers:
{% if servers.root_ca is defined %}
    - ``{{ servers.root_ca.name }}``
{% endif %}
{% for server in servers.repositories %}
{% if server.connected_to_ad is false %}
    - ``{{ server.name }}``
{% endif %}
{% endfor %}
{% endif %}

#. Create an domain administrator account ``{{ accounts.domain.user }}``.

{% if accounts.service is defined %}
#. Create a service account in Active Directory called ``{{ accounts.service.user }}``.
{% endif %}

#. Share instructions and credentials for VPN access if the installation is to be done remotely.
